<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>蓝源Eloan-P2P平台</title>
    <div th:include="commons/links :: links"></div>
    <script type="text/javascript" src="static/js/plugins/jquery.form.js"></script>
    <link type="text/css" rel="stylesheet" href="static/css/account.css"/>
</head>
<body>
<div th:replace="commons/head :: header"></div>
<div th:replace="commons/navbar :: navbar(activeUrl='personal')"></div>

<div class="container">
    <div class="row">
        <!--导航菜单-->
        <div class="col-sm-3">
            <div th:replace="commons/leftmenu :: leftmenu(activeUrl='personal')"></div>
        </div>
        <!-- 功能页面 -->
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body el-account">
                    <div class="el-account-info">
                        <div class="pull-left ">
                            <img class="icon" style="height: 50%;width: 50%" src="static/images/my.jpeg"/>
                        </div>
                        <div class="pull-left el-head">
                            <p style="font-size: 35px">用户名: [[${session.logininfo.getUsername()}]]</p>
                        </div>
                        <div class="pull-left" style="text-align: center;width: 400px;margin:30px auto 0px auto;">
                            <a class="btn btn-primary btn-lg" th:href="@{/recharge.do}">账户充值</a>
                            <a class="btn btn-danger btn-lg" th:href="@{/moneyWithdraw.do}">账户提现</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row h4 account-info">
                        <div class="col-sm-4">
                            账户总额：<span class="text-primary" th:text="${account.getTotalAmount()}"></span>
                        </div>
                        <div class="col-sm-4">
                            可用金额：<span class="text-primary" th:text="${account.getUsableAmount()}"></span>
                        </div>
                        <div class="col-sm-4">
                            冻结金额：<span class="text-primary" th:text="${account.getFreezedAmount()}"></span>
                        </div>
                    </div>
                    <div class="row h4 account-info">
                        <div class="col-sm-4">
                            待收利息：<span class="text-primary" th:text="${account.getUnReceiveInterest()}"></span>
                        </div>
                        <div class="col-sm-4">
                            待收本金：<span class="text-primary" th:text="${account.getUnReceivePrincipal()}"></span>
                        </div>
                        <div class="col-sm-4">
                            待还本息：<span class="text-primary" th:text="${account.getUnReturnAmount()}"></span>
                        </div>
                    </div>

                    <div class="el-account-info top-margin">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="static/images/shiming.png"/>
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>实名认证</h5>
                                        <p th:if="${userinfo.getIsRealAuth()}==true">
                                            已认证
                                            <a th:href="@{/realAuth.do}">查看</a>
                                        </p>
                                        <p th:if="${userinfo.getIsRealAuth()}==false">
                                            未认证
                                            <a  th:href="@{/realAuth.do}">立刻绑定</a>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">实名认证之后才能在平台投资</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="static/images/shouji.jpg"/>
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>手机认证</h5>
                                        <p th:if="${userinfo.getIsBindPhone()==true}">
                                            已认证
                                            <a href="#">查看</a>
                                        </p>
                                        <p th:if="${userinfo.getIsBindPhone()==false}">
                                            未认证
                                            <a href="javascript:;" id="showBindPhoneModal">立刻绑定</a>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">可以收到系统操作信息,并增加使用安全性</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="static/images/youxiang.jpg"/>
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>邮箱认证</h5>
                                        <p th:if="${userinfo.getIsBindEmail()==true}">
                                            已绑定
                                            <a href="#">查看</a>
                                        </p>
                                        <p th:if="${userinfo.getIsBindEmail()!=true}">
                                            未绑定
                                            <a href="javascript:;" id="showBindEmailModal">去绑定</a>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">您可以设置邮箱来接收重要信息</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="el-accoun-auth">
                                    <div class="el-accoun-auth-left">
                                        <img src="static/images/baozhan.jpg"/>
                                    </div>
                                    <div class="el-accoun-auth-right">
                                        <h5>VIP会员</h5>
                                        <p>
                                            普通用户
                                            <a href="#">查看</a>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="info">VIP会员，让你更快捷的投资</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--手机模态框-->
<div class="modal fade" id="bindPhoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">绑定手机</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="bindPhoneForm" method="post" action="/website/bindPhone.do">
                    <div class="form-group">
                        <label for="phoneNumber" class="col-sm-2 control-label">手机号:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"/>
                            <button id="sendVerifyCode" class="btn btn-primary" type="button" autocomplate="off">发送验证码
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verifyCode" class="col-sm-2 control-label">验证码:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="verifyCode" name="verifyCode"/>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="bindPhone">提交</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!--绑定邮箱模态框-->
<div class="modal fade" id="bindEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <!--<h4 class="modal-title" id="exampleModalLabel">绑定邮箱</h4>-->
                <h4 class="modal-title">绑定邮箱</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="bindEmailForm" method="post" action="/website/sendEmail.do">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="email" name="email"/>
                        </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="bindEmail">确认</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        //绑定手机号
        if ($("#showBindPhoneModal").size() > 0) {
            //点击绑定手机按钮事件按钮
            $("#showBindPhoneModal").click(function () {
                $("#bindPhoneForm")[0].reset();
                $("#bindPhoneModal").modal("show");
            });
            //发送短信按钮添加事件
            $("#sendVerifyCode").click(function () {
                //验证手机号码格式是否正确
                var phoneNumber = $("#phoneNumber").val();
                var reg = /^1[34578](\d){9}$/
                var b = reg.test(phoneNumber);
                if (b == true) {
                    var _this = $(this);
                    _this.attr("disabled", true);
                    //1,发送一个Ajax请求;
                    $.ajax({
                        url: "/website/sendVerifyCode.do",
                        dataType: "json",
                        type: "POST",
                        data: {phoneNumber: $("#phoneNumber").val()},
                        success: function (data) {
                            if (data.success) {
                                console.log("成功");
                                var sec = 90;
                                var timer = window.setInterval(function () {
                                    if (sec > 0) {
                                        _this.text(sec + "秒重新发送");
                                    } else {
                                        //去掉定时器
                                        window.clearInterval(timer);
                                        _this.text("重新发送验证码");
                                        _this.attr("disabled", false);
                                    }
                                    sec--;
                                }, 1000);
                            } else {
                                console.log("失败");
                                //验证码发送失败
                                $.messager.popup(data.msg);
                                _this.attr("disabled", false);
                            }
                        }
                    });
                } else {
                    alert("手机号码输入不正确")
                }
            });

            //确定提交按钮添加事件
            $("#bindPhoneForm").ajaxForm(function (data) {
                if (data.success) {
                    window.location.reload();
                } else {
                    $.messager.popup(data.msg);
                }
            });
            $("#bindPhone").click(function () {
                $('#bindPhoneForm').submit();
            });
        }

        //绑定邮箱
        if ($("#showBindEmailModal").size() > 0) {
            //绑定邮箱按钮 添加事件
            $("#showBindEmailModal").click(function () {
                $("#bindEmailForm")[0].reset();
                $("#bindEmailModal").modal("show");
            });
            //提交邮箱按钮 添加事件
            $("#bindEmailForm").ajaxForm(function (data) {
                if (data.success) {
                    window.location.reload();
                } else {
                    $.messager.popup(data.msg);
                }
            });
            $("#bindEmail").click(function () {
                $("#bindEmailForm").submit();
            });
        }
    })
</script>
</body>
</html>