<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.p2p.base.mapper.SystemDictionaryItemMapper">

    <resultMap id="smailResultMap" type="com.zy.p2p.base.domain.SystemDictionaryItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.zy.p2p.base.domain.SystemDictionaryItem" extends="smailResultMap">
        <id column="sequence" jdbcType="TINYINT" property="sequence"/>
        <result column="parentId" jdbcType="BIGINT" property="parentId"/>
    </resultMap>

    <sql id="base_column">
  	    id ,parentId, title, sequence
    </sql>
    <sql id="base_where">
        <where>
            <if test="parentId!=null">
                AND parentId = #{parentId}
            </if>
            <if test="keyword!=null">
                AND title LIKE concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>


    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from javas1.systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zy.p2p.base.domain.SystemDictionaryItem">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into javas1.systemdictionaryitem (sequence, parentId, title
        )
        values (#{sequence,jdbcType=TINYINT}, #{parentId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.zy.p2p.base.domain.SystemDictionaryItem">
    update javas1.systemdictionaryitem
    set
      title = #{title},sequence = #{sequence}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select id, sequence, parentId, title
    from javas1.systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, sequence, parentId, title
    from javas1.systemdictionaryitem
  </select>
    <select id="queryForCount" resultType="int">
        SELECT count(id)
        FROM systemdictionaryitem
        <include refid="base_where"/>
    </select>
    <select id="query" resultMap="BaseResultMap">
        SELECT
        <include refid="base_column"/>
        FROM systemdictionaryitem
        <include refid="base_where"/>
        LIMIT #{start},#{pageSize}
    </select>
    <select id="listByParentSn" resultMap="smailResultMap">
        SELECT systemdictionaryitem.id,systemdictionaryitem.`title`
        FROM systemdictionary INNER JOIN systemdictionaryitem ON systemdictionary.`id`=systemdictionaryitem.`parentId`
        WHERE systemdictionary.sn = #{incomeGrade};
    </select>
</mapper>